li{
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
    border-right: 5px orange solid;
    width: 120px;
    padding: 5px;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    }
a{
    color: orange;
}