@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
   background: linear-gradient(243.36deg, #7526f59e 0%, #7f38f329
   22.93%, #f5f5f51f 98%);
   
   font-family: 'Poppins', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.menu-titulo{
    font-weight: 700;
}

.menu-opcoes{
    display: flex;
    gap: 10px;
}

.menu{
    font-weight: 700;
}

.container1{
    display: flex;
}

.cliente{
    color: #AE218F;
    font-weight: 500;
    padding: 40px;
}

.txt2{
    font-weight: 700;
    padding: 40px;
}

.txt3{
    font-weight: 400;
    padding: 40px;
}

.botao{
    display: flex;
    justify-content: center;
    
}

.btn{
    margin-right: 10%;
    right: 60px;
    height: 0px;
}

